.scrolling-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .scrolling-content {
    display: flex;
    white-space: nowrap;
    justify-content: space-evenly;
    animation: scroll-left 25s linear infinite;
    gap:2rem;
  }
  .circle{
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #e8f091;
    border:2px solid black;
  }
  .s1{
   padding:1rem 4.5rem;
    display: flex;
    background-color: rgb(229, 223, 223);
    border-radius: 5rem;
    /* justify-content: space-between; */
    gap:0.25rem;
    align-items: center;
  }
  .s1 h3{
    font-size: 1.5rem;
    color:blueviolet;
    max-width: 5rem;
    text-wrap:pretty;
  }
  
  @keyframes scroll-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  